/* Hidden content */
#playerNamesLeft,
#playerNamesRight,
#scoreLeft,
#scoreRight {
    display: none;
}

#teamNameLeftBackground {
    position: absolute;
    left: 0px;
    top: 124.0244px;
    width: 790.4537px;
    height: 72px;
    background-color: rgb(190, 15, 52);
    clip-path: polygon(0px 0px, 790.4537px 0px, 484.29px 72px, 0px 72px);
}

#leftRoundsBack {
    position: absolute;
    left: 487.5614px;
    top: 125.6427px;
    width: 302.8923px;
    height: 71.1752px;
    background-color: rgb(190, 15, 52);
    clip-path: polygon(0px 71.1752px, 302.8923px 0px, 79.4586px 71.1752px, 0px 71.1752px);
}

#leftRoundsWon1 {
    position: absolute;
    left: 491.9807px;
    top: 171.6982px;
    width: 106.2343px;
    height: 24.5643px;
    background-color: black;
    clip-path: polygon(0px 24.5643px, 106.2343px 0px, 74.6493px 22.8618px);
}

#leftRoundsWon2 {
    position: absolute;
    left: 567.5639px;
    top: 155.5028px;
    width: 126.4347px;
    height: 39.2569px;
    background-color: black;
    clip-path: polygon(0px 39.2569px, 32.2461px 16.8574px, 126.4347px 0px);
}

#leftRoundsWon3 {
    position: absolute;
    left: 599.8082px;
    top: 128.4719px;
    width: 175.4499px;
    height: 42.8483px;
    background-color: black;
    clip-path: polygon(0px 42.8483px, 175.4499px 1.5px, 96.4418px 26.1381px);
}

#weekBackground {
    position: absolute;
    left: 0px;
    top: 196px;
    width: 226px;
    height: 27.5768px;
    background-color: rgb(190, 15, 52);
    clip-path: polygon(0px 0px, 226px 0px, 0px 27.5768px);
}

#teamNameRightBackground {
    position: absolute;
    left: 1129.5463px;
    top: 124.0244px;
    width: 790.4537px;
    height: 72px;
    background-color: rgb(190, 15, 52);
    clip-path: polygon(0px 0px, 790.4537px 0px, 790.4537px 72px, 306.1637px 72px);
}

#rightRoundsBack {
    position: absolute;
    left: 1129.5463px;
    top: 125.6427px;
    width: 302.8923px;
    height: 71.1752px;
    background-color: rgb(190, 15, 52);
    clip-path: polygon(0px 0px, 302.8923px 71.1752px, 223.4337px 69.9573px);
}

#rightRoundsWon1 {
    position: absolute;
    left: 1321.785px;
    top: 171.6982px;
    width: 106.2343px;
    height: 24.5643px;
    background-color: black;
    clip-path: polygon(0px 0px, 106.2343px 24.5643px, 31.585px 22.8618px);
}

#rightRoundsWon2 {
    position: absolute;
    left: 1226.0014px;
    top: 155.5028px;
    width: 126.4347px;
    height: 39.2569px;
    background-color: black;
    clip-path: polygon(3px 1px, 93.9986px 16.36px, 126.4347px 39.2569px);
}

#rightRoundsWon3 {
    position : absolute ;
    left: 1139px;
    top: 128px;
    width: 180px;
    height: 42px;
    background-color: black;
    clip-path: polygon(0px 0px, 180px 42px, 84px 26.61px);
}

#teamNameLeft {
    position: absolute;
    left: 0px;
    top: 120px;
    width: 484px;
    text-align: center;
}

#teamNameRight {
    position: absolute;
    left: 1435.71px;
    top: 120px;
    width: 484px;
    text-align: center;
}

#weekText {
    position: absolute;
    left: 4px;
    top: 182px;
    font-size: 16px;
}

#week {
    position: absolute;
    left: 72px;
    top: 177px;
    font-size: 20px;
}