/* Top Right Info */
#cardRight {
    position: absolute;
    left: 1053.7927px;
    top: 0px;
    width: 617px;
    height: 94px;
    fill: rgb(190, 15, 52);
}

#textSeperatorRight {
    position: absolute;
    left: 1198.7927px;
    top: 42px;
    width: 316px;
    height: 9px;
    fill: rgb(255, 255, 255);
}

#teamNameRight {
    position: absolute;
    left: 1214px;
    top: 10px;
    width: 316px;
    font-size: 20px;
}

#playerNamesRight {
    position: absolute;
    left: 1198px;
    top: 50px;
    width: 316px;
    text-align: center;
    font-size: 10px;
}

#arcOneRight {
    position: absolute;
    left: 1566px;
    top: 10px;
}

#arcTwoRight {
    position: absolute;
    left: 1597px;
    top: 10px;
}

#arcThreeRight {
    position: absolute;
    left: 1597px;
    top: 40.5px;
}

#arcFourRight {
    position: absolute;
    left: 1566px;
    top: 40.5px;
}

#circleRight {
    position: absolute;
    left: 1575px;
    top: 20px;
    width: 40px;
    height: 40px;
}

/* Top Left Info */
#cardLeft {
    position: absolute;
    left: 248.0202px;
    top: 0px;
    width: 617px;
    height: 94px;
    fill: rgb(190, 15, 52);
}

#textSeperatorLeft {
    position: absolute;
    left: 398.0101px;
    top: 44.0661px;
    width: 316px;
    height: 9px;
    fill: rgb(255, 255, 255);
}

#teamNameLeft {
    position: absolute;
    left: 398.0101px;
    top: 9px;
    width: 316px;
    height: 29.9653px;
    font-size: 23px;
    text-align: center;
}

#playerNamesLeft {
    position: absolute;
    left: 398.0101px;
    top: 54px;
    width: 316px;
    height: 13px;
    font-size: 10px;
    text-align: center;
}

#arcOneLeft {
    position: absolute;
    left: 296.5px;
    top: 10px;
}

#arcTwoLeft {
    position: absolute;
    left: 327.5px;
    top: 10px;
}

#arcThreeLeft {
    position: absolute;
    left: 327.5px;
    top: 40.5px;
}

#arcFourLeft {
    position: absolute;
    left: 296.5px;
    top: 40.5px;
}

#circleLeft {
    position: absolute;
    left: 306px;
    top: 19px;
    width: 40px;
    height: 40px;
}

/* Arc settings */
#arcOneRight,
#arcTwoRight,
#arcThreeRight,
#arcFourRight,
#arcOneLeft,
#arcTwoLeft,
#arcThreeLeft,
#arcFourLeft {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 5px;
    width: 28px;
}

/* Hidden stuff */
#winsRight,
#winsLeft,
#scoreLeft,
#scoreRight,
#week {
    display: none;
}