@font-face {
    font-family: 'Ethnocentric';
    src: url('ethnocentric.woff') format('woff');
}

body {
    margin: 0;
    overflow: hidden;
}

h1 {
    font-family: 'Ethnocentric';
    text-shadow: 2px 2px 2px black;
}


#teamNameLeft {
    width: 215.75px;
    position: absolute;
    color: white;
    left: 20px;
    top: 15px;
    text-align: center;
    font-size: 10px;
}

#teamNameRight {
    width: 215.75px;
    position: absolute;
    color: white;
    left: 240px;
    top: 15px;
    text-align: center;
    font-size: 10px;
}

#weekText {
    width: 215.75px;
    position: absolute;
    color: rgb(156, 156, 156);
    left: 32px;
    top: 31px;
    text-align: center;
    font-size: 10px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px black;
}

#week {
    display: block;
    width: 215.75px;
    position: absolute;
    color: rgb(156, 156, 156);
    left: 62px;
    top: 31px;
    text-align: center;
    font-size: 10px;
    text-shadow: 1px 1px 1px black;
}

#playerNamesLeft,
#playerNamesRight {
    display: none;
}