@font-face {
    font-family: 'Ethnocentric';
    src: url('ethnocentric.woff') format('woff');
}

body {
    margin: 0;
    overflow: hidden;
}

h1 {
    font-family: 'Ethnocentric';
    text-shadow: 2px 2px 2px black;
}


#teamNameLeft {
    width: 390px;
    position: absolute;
    color: white;
    left: 20px;
    top: 21px;
    text-align: left;
    font-size: 19px;
}

#teamNameRight {
    width: 235px;
    position: absolute;
    color: white;
    left: 26px;
    top: 103px;
    text-align: left;
    font-size: 12px;
}

#weekText {
    width: 215.75px;
    position: absolute;
    color: rgb(156, 156, 156);
    left: 82px;
    top: 42px;
    text-align: center;
    font-size: 22px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px black;
}

#week {
    display: block;
    width: 215.75px;
    position: absolute;
    color: rgb(156, 156, 156);
    left: 142px;
    top: 42px;
    text-align: center;
    font-size: 22px;
    text-shadow: 1px 1px 1px black;
}

#playerNamesLeft,
#playerNamesRight {
    display: none;
}