<?xml version='1.0' encoding='windows-1252'?>
<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='Falcons Esports Overlays Controller'
        UpgradeCode='B36177BE-EA4D-44FB-B05C-EDDABDAA95CA'
        Manufacturer='MADMAN-Modding'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='An Esports overlay controller with lots of flexibility'
            Manufacturer='MADMAN-Modding'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'/>

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='falcons_esports_overlays_controller Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='DesktopFolder' Name='Desktop'/>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='falcons_esports_overlays_controller'>
                    <Component Id='License' Guid='*'>
                        <File Id='LicenseFile'
                              DiskId='1'
                              Source='wix\License.rtf'
                              KeyPath='yes'/>
                    </Component>
                    <Directory Id='Bin' Name='bin'>
                        <Component Id='binary0' Guid='*'>
                            <File
                                Id='exe0'
                                Name='falcons_esports_overlays_controller.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetBinDir)\falcons_esports_overlays_controller.exe'
                                KeyPath='yes'/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Falcons Esports Overlays Controller"/>
            </Directory>
        </Directory>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut" 
                          Name="Falcons Esports Overlays Controller"
                          Description="My Application Description"
                          Target="[Bin]falcons_esports_overlays_controller.exe"
                          WorkingDirectory="APPLICATIONFOLDER"/>
                <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\MADMAN-Modding\Falcons_Esports_Overlays_Controller" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="DesktopFolder">
            <Component Id="DesktopShortcut" Guid="*">
                <Shortcut Id="DesktopShortcutId"
                          Name="Falcons Esports Overlays Controller"
                          Description="Launch Falcons Esports Overlays Controller"
                          Target="[Bin]falcons_esports_overlays_controller.exe"
                          WorkingDirectory="APPLICATIONFOLDER"/>
                <RemoveFolder Id="RemoveDesktopShortcut" Directory="DesktopFolder" On="uninstall"/>
                <RegistryValue Root="HKCU"
                               Key="Software\MADMAN-Modding\Falcons_Esports_Overlays_Controller"
                               Name="desktop_installed"
                               Type="integer"
                               Value="1"
                               KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs all binaries and the license.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            
            <ComponentRef Id='License'/>
            <ComponentRef Id='binary0'/>
            <ComponentRef Id='ApplicationShortcut'/>

            <Feature
                Id="DesktopShortcutFeature"
                Title="Desktop Shortcut"
                Description="Create a shortcut on the desktop"
                Level="1"
                Absent="allow">
                <ComponentRef Id="DesktopShortcut"/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <Icon Id='ProductICO' SourceFile='icons/icon.ico'/>
        <Property Id='ARPPRODUCTICON' Value='ProductICO'/>
        <Property Id='ARPHELPLINK' Value='https://github.com/MADMAN-Modding/FalconsEsportsOverlays'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
        </UI>

        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/>
        <WixVariable Id='WixUIBannerBmp' Value='icons/banner.png'/>
        <WixVariable Id='WixUIDialogBmp' Value='icons/dialog.png'/>
        
    </Product>
</Wix>
