/* This is for common classes throughout my code */
.button {
    position: absolute;
    text-align: center;
    top: 50%;
    background-color: white;
    border-radius: 20px;
    width: 15vw;
    font-size: 30px;
    color: black;
}