.overlay-download {
    width: 400px;
    height: 80px;
    background-color: transparent;
    display: flex;
    align-items: center;     /* Vertical centering */
    justify-content: center; /* Horizontal centering */
    padding: 0px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 10px;
}

.overlay-download img {
    width: 80px;
    height: 80px;
}

.overlay-download p {
    margin: 0;         /* Remove auto margin; handled by flex */
    font-size: 25px;
}

#overlayDownloads {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

#download {
    padding: 0;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.content-wrapper {
    display: flex;
    align-items: center;    /* Vertical centering */
    justify-content: center; /* Horizontal centering */
    width: 100%;             /* Ensures the wrapper fills the button */
    height: 100%;            /* Ensures full height alignment */
    gap: 8px;                /* Space between status and text */
}

.content-wrapper span:hover,
.content-wrapper img:hover {
    cursor: pointer;
}

.overlay-status {
    width: 16px;
    height: 16px;
    background-color: gray;
    border-radius: 4px;
}
